<template>
  <div class="about-page">
    <h1>This is my About Me Page</h1>
    <p>Lorem ipsum, lajshdfas asdfas asdfasdf asf asdfasf asdf asdf.</p>
    <p>Lorem ipsum, lajshdfas asdfas asdfasdf asf asdfasf asdf asdf.</p>
    <p>Lorem ipsum, lajshdfas asdfas asdfasdf asf asdfasf asdf asdf.</p>
    <p>Lorem ipsum, lajshdfas asdfas asdfasdf asf asdfasf asdf asdf.</p>
  </div>
</template>

<style scoped>
  .about-page {
    text-align: center;
    padding: 30px;
  }
</style>
